/* body {
	margin: 0;
	padding: 0;
	background-color: #ccc;
}

/*----------  Header  --------*/

*header {
	position: fixed;
	top: 0px;
	background-color: #fff;
	width: 100%;

}

#name {
	background-color: #4aaaa5;
	margin-left: 10%;
	padding: 15px;
	text-align: center;
	color: white;
	float: left;
}

.header-links {
	float: right;
	margin-right: 10%;
	color: #aaa;
}

.header-hyperlinks:visited {
	color: #aaa;
}

#about, #portfolio, #contact {
	float: left;
	padding: 20px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

/*----------  Body  --------*/

/*#under-header {
	margin-top: 12%;
}

#contact-form {
	float: left;
	margin-left: 10%;
	margin-bottom: 20px;
	width: 50%;
	height: 350px;
	padding: 15px;
	background-color: white;
}


.contact-info {
	float:right;
	width: 20%;
	margin-right: 10%;
	background-color: white;
}

#connect {
	text-align: center;
	color: #4aaaa5;
}

.contact-img {
	width: 60px;
	height: 60px;
	align: center;
}

/*----------  Footer  --------*/

/*footer {
	clear: both;
	height: 500px;
	bottom: 0px;
	text-align: center;
	background-color: #666666;
} */